body{
    color: orange;
    text-align: center;
    font-family: "Consolas";
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background: brown;
    color: white;
    width: 100%;
    font-weight: bold;
}
